*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient( rgba(134, 135, 139, 0.7), rgba(20, 21, 26, 0.7)), url(images/background.jpg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}